<html>
<head>
	<title>{{htmlWebpackPlugin.options.title}}</title>
	<link rel="stylesheet" href="options.css" type="text/css" />
	<script type="text/javascript" src="options.js"></script>
</head>

<body>
OpTiONs
</body>
</html>