<html>
<head>
	<title>Background</title>
	<script type="text/javascript" src="background.js"></script>
</head>

<body>
	<h1>Background</h1>
	<p><%= htmlWebpackPlugin.options.PackageJson.name %></p>
</body>
</html>