<html>
<head>
	<title>Options</title>
	<link rel="stylesheet" href="options.css" type="text/css" />
	<script type="text/javascript" src="options.js"></script>
</head>

<body>
	<h1>Options</h1>
	<p><%= htmlWebpackPlugin.options.PackageJson.name %></p>
</body>
</html>